__pycache__/
*.pyc
*.mp4
log.txt
.pytest_cache/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.vscode/
testenv/
/coverage.data
.coverage
coverage/
.idea